flows (5).json
[{"id":"d852a2be.368d1","type":"tab","label":"cropRecommendation","disabled":false,"info":""},{"id":"da7ebd06.7ce0c","type":"ui_form","z":"d852a2be.368d1","name":"","label":"","group":"f594a50c.1a60f8","order":1,"width":0,"height":0,"options":[{"label":"N","value":"N","type":"number","required":true,"rows":null},{"label":"P","value":"P","type":"number","required":true,"rows":null},{"label":"K","value":"K","type":"number","required":true,"rows":null},{"label":"Temperature","value":"temperature","type":"number","required":true,"rows":null},{"label":"Humidity","value":"humidity","type":"number","required":true,"rows":null},{"label":"Ph","value":"ph","type":"number","required":true,"rows":null},{"label":"Rainfall","value":"rainfall","type":"number","required":true,"rows":null}],"formValue":{"N":"","P":"","K":"","temperature":"","humidity":"","ph":"","rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":200,"wires":[["c88d27ba.186458","83f414a8.947948"]]},{"id":"c88d27ba.186458","type":"function","z":"d852a2be.368d1","name":"form values","func":"global.set(\"N\",msg.payload.N)\nglobal.set(\"P\",msg.payload.P)\nglobal.set(\"K\",msg.payload.K)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nvar apikey=\"SN7xvk-CeZsEQunu8-uvQ3XXQoVcMM3dHcE36VWxPxKR\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":160,"wires":[["8fac8aa3.0cc338"]]},{"id":"83f414a8.947948","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":260,"wires":[]},{"id":"8fac8aa3.0cc338","type":"http request","z":"d852a2be.368d1","name":"crop","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":220,"wires":[["bc7b8f2f.d92fd","4796879d.125978"]]},{"id":"bc7b8f2f.d92fd","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":180,"wires":[]},{"id":"4796879d.125978","type":"function","z":"d852a2be.368d1","name":"preprediction","func":"var N = global.get(\"N\")\nvar P = global.get(\"P\")\nvar K = global.get(\"K\")\nvar temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar ph = global.get(\"ph\")\nvar rainfall= global.get(\"rainfall\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"N\",\"P\",\"K\",\"temperature\", \"humidity\",\"ph\", \"rainfall\"]],\"values\": [[N,P,K,temperature,humidity,ph,rainfall]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["998be6c2.58dd88"]]},{"id":"998be6c2.58dd88","type":"http request","z":"d852a2be.368d1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/34a982d6-d150-4e85-b3e7-95e887c24739/predictions?version=2021-07-11","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["becc1e84.74ddf","7ee7bb87.d47fd4"]]},{"id":"becc1e84.74ddf","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"7ee7bb87.d47fd4","type":"function","z":"d852a2be.368d1","name":"recommended crop","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["9bae0ca8.ec426","96b03523.210898"]]},{"id":"9bae0ca8.ec426","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"96b03523.210898","type":"ui_text","z":"d852a2be.368d1","group":"f594a50c.1a60f8","order":2,"width":0,"height":0,"name":"","label":"Recommended crop for current scenerio is: ","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":300,"wires":[]},{"id":"76eee07e.f6c3b","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":520,"wires":[]},{"id":"f3b7d6fd.84a048","type":"function","z":"d852a2be.368d1","name":"area","func":"global.set(\"State_Name\",msg.payload.State_Name)\nglobal.set(\"District_Name\",msg.payload.District_Name)\nglobal.set(\"Crop_Year\",msg.payload.Crop_Year)\nglobal.set(\"Season\",msg.payload.Season)\nglobal.set(\"Crop\",msg.payload.Crop)\nglobal.set(\"Area\",msg.payload.Area)\nvar apikey=\"SogDcSYsbOkY3tqvf6Q6YgZEd4tu1V4VqvHOuks59reL\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":480,"wires":[["2c1fbf7.fe5644"]]},{"id":"2c1fbf7.fe5644","type":"http request","z":"d852a2be.368d1","name":"revenue","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":480,"wires":[["2d91624e.b0670e","22c0853b.c777ca"]]},{"id":"2d91624e.b0670e","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]},{"id":"22c0853b.c777ca","type":"function","z":"d852a2be.368d1","name":"prepredict","func":"var State_Name = global.get(\"State_Name\")\nvar District_Name = global.get(\"District_Name\")\nvar Crop_Year = global.get(\"Crop_Year\")\nvar Season = global.get(\"Season\")\nvar Crop = global.get(\"Crop\")\nvar Area = global.get(\"Area\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [['State_Name','District_Name','Crop_Year','Season','Crop','Area']],\"values\": [[State_Name,District_Name,Crop_Year,Season,Crop,Area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":500,"wires":[["382ab692.d0739a"]]},{"id":"1bafbb77.7a7825","type":"ui_form","z":"d852a2be.368d1","name":"","label":"Enter details","group":"949e92f5.88dda","order":1,"width":0,"height":0,"options":[{"label":"State_Name","value":"State_Name","type":"text","required":true,"rows":null},{"label":"District_Name","value":"District_Name","type":"text","required":true,"rows":null},{"label":"Crop_Year","value":"Crop_Year","type":"number","required":true,"rows":null},{"label":"Season","value":"Season","type":"text","required":true,"rows":null},{"label":"Crop","value":"Crop","type":"text","required":true,"rows":null},{"label":"Area","value":"Area","type":"number","required":true,"rows":null}],"formValue":{"State_Name":"","District_Name":"","Crop_Year":"","Season":"","Crop":"","Area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":500,"wires":[["f3b7d6fd.84a048","76eee07e.f6c3b"]]},{"id":"382ab692.d0739a","type":"http request","z":"d852a2be.368d1","name":"revenue","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/81bc19b5-3b7a-4df6-9e81-f4bf659ab41d/predictions?version=2021-07-11","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":500,"wires":[["402a4674.ae1688","9f51e77a.bdbfd8"]]},{"id":"402a4674.ae1688","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":480,"wires":[]},{"id":"9f51e77a.bdbfd8","type":"function","z":"d852a2be.368d1","name":"production","func":"msg.payload=msg.payload.predictions[0].values[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":540,"wires":[["f840e12.c2b332","665ec57.34e4b3c"]]},{"id":"f840e12.c2b332","type":"debug","z":"d852a2be.368d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":560,"wires":[]},{"id":"665ec57.34e4b3c","type":"ui_text","z":"d852a2be.368d1","group":"949e92f5.88dda","order":2,"width":0,"height":0,"name":"revenue","label":"Expected revenue is INR. ","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":520,"wires":[]},{"id":"f594a50c.1a60f8","type":"ui_group","name":"recommendation","tab":"e9ed0d0e.40ec5","order":1,"disp":true,"width":"6","collapse":false},{"id":"949e92f5.88dda","type":"ui_group","name":"yeild","tab":"94932eee.0ae3b","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9ed0d0e.40ec5","type":"ui_tab","name":"crops","icon":"dashboard","disabled":false,"hidden":false},{"id":"94932eee.0ae3b","type":"ui_tab","name":"YEILD","icon":"dashboard","disabled":false,"hidden":false}]